html, body {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*Header*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.nav-right {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.nav-left ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Main*/
.main-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.catalog h2{
  text-align: center;
  margin-top: 3rem;
}
.products-container{
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
}
.product-card .description{
  display: grid;
  gap: 0.2rem;
  padding: 1rem;
}
/*Footer*/
footer{
    display: grid;
    text-align: center;
    align-items: center;
    padding: 1rem 0;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 1rem;
}