html,
body {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*Header*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.nav-right {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.nav-left ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Main*/
.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.catalog h2 {
  text-align: center;
  margin-top: 3rem;
}

.products-container {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
}

.product-card .description {
  display: grid;
  gap: 0.2rem;
  padding: 1rem;
}

.admin-page {
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

/*Footer*/
footer {
  display: grid;
  text-align: center;
  align-items: center;
  padding: 1rem 0;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/*Searchbar*/
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/*Product page*/
.product-details {
  display: flex;
  margin: 3rem 2rem;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.img-product-container,
.product-desc {
  width: 50%;
  height: 100%;
  padding: 1rem 2rem;
}

.img-product {
  height: 100%;
  object-fit: cover;
}

.product-desc {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*Dashboard*/
.dashboard {
  width: 100%;
}

.dashboard-header > th {
  padding: 1rem;
}

.dashboard-cell {
  padding: 0.5rem 1rem;
}

.dashboard-cell > button {
  margin-left: 0.5rem;
}

/*form*/

.form-products,
.two-on-row > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.two-on-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.two-on-row > div {
  width: 50%;
}

.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
}

/*Erro*/
.alert-message {
  color: var(--clr-error);
  font-size: 0.8rem;
}
