html, body {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-right {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.nav-left ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items {
  cursor: pointer;
}

/*Footer*/
footer{
    display: grid;
    text-align: center;
    align-items: center;
    padding: 1rem 0;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 1rem;
}