:root {
    --clr-primary: #636ae8;
    --clr-secondary:#989dff;
    --clr-terciary: #7f55e0;
    --clr-text-dark:#171717;
    --clr-text:#5d5d5d;
    --clr-text-light:#f2f2f2;
    --clr-shadow :#2c2c2c34;
    --bg-surface:#dbdbdb;
}